button {
    margin: 2;
}

video {
    position: relative;
    max-width: 200px;
    height: auto;
    background-color: black;
    padding: 50;
    margin: 1px 1px;
}

.mainTable {
    display: flex;
    width: 100%;
}

.localColumn {
    width: 246px;
}

.remoteColumn {
    display: flex;
}

#localVideo {
    width: 360;
}

.remoteVideo {
    float: right;
}

.videoWrap {
    margin: 3;
    /* padding: 5; */
    /* background-color: papayawhip; */
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 1060px) {
    .video {
        width: 80%;
    }
}

@media only screen and (max-width: 940px) {
    .video {
        width: 70%;
    }
}

.gameFrame {
    height: 600px;
    min-width: 70%;
    /* padding: 50px; */
    /* Add scrollbars if content exceeds height */
    /* overflow: auto;  */
}

.webcamFrame {
    background: #333; /* Example background color for the menu */
    color: #fff; /* Example text color for the menu */
    height: 20%; /* Set the height of the menu */
    padding: 20px;
}

.game-chat {
    display: flex;
    height: 80%;
}

.chat {
    background: #a34646; /* Example background color for the menu */
    color: #c13c3c; /* Example text color for the menu */
    min-height: 100%;
    min-width: 30%;
    border: 1px solid #ccc;
    overflow: hidden;
}

#chat-container {
    border: 1px solid #ccc;
    overflow: hidden;
}

#chat-feed {
    height: 90%;
    overflow-y: scroll; 
    background-color: #f2f2f2;
}

#user-input {
    height: 10%;
    display: flex;
    background-color: #fff;
}

#message-input {
    flex: 1;
    padding: 5px;
    margin-right: 5px;
}

#send-button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
}

.container {
    height: 90vh;
}